<div class="list-group-item">
  <div class="lead">Public Posts</div>
</div>
{{#each posts as |post|}}
  {{blog-post title=post.title body=post.body}}
{{else}}
  <div class="list-group-item">
    No Public Posts Found!
  </div>
{{/each}}
